<ion-header>
  <ion-toolbar>
    <ion-title>
      Samsung Health Plugin Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button color="primary" expand="full" (click)="greet()">Greet Test</ion-button><br>
  <ion-button color="primary" expand="full" (click)="apiConnect()">Connect to API</ion-button><br>
  <ion-button color="primary" expand="full" (click)="apiPermissions()">Check API Permissions</ion-button><br>
  <ion-button color="primary" expand="full" (click)="apiGetData()">Get Data from API For last 10 days</ion-button><br>

</ion-content>
